workflows/webhook-example-workflow.json
{
  "name": "Simple Webhook Example",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "simple-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "simple-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Access the webhook data\nconst webhookData = $input.item.json;\n\n// Process the data\nconst response = {\n  success: true,\n  message: \"Data received successfully\",\n  receivedData: webhookData,\n  processedAt: new Date().toISOString()\n};\n\nreturn response;"
      },
      "id": "code-node-1",
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-node-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "n8n-practice"
  },
  "tags": []
}
